{erl_opts, [debug_info]}.

{deps, [
  {vegur, {git, "git@github.com:heroku/vegur.git", {tag, "2.0.4"}}}
]}.

{relx, [
  {
    release,
    {voodoo, "0.1.0"},
    [voodoo,sasl]
  },

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}
  ]
}.
